html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.ajaxValidationMsg {
  color: #FBBE62;
}
.text-muted{
  color:white !important;
}

.logo{
  width: 12%;
  height: auto; 
  display: block;
  margin: 0 auto;
}

.forgotPass{
  text-align: center;
  color: white;

}